

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <%- include('./partials/header.ejs') %>
</head>

<section id="show-page">
  <div>
  <div >Title: </div>
  <div><%= anime.title %></div>
  <div>Preview: </div>
  <div><img src=<%= anime.image_url %> ></div>
  <div>Episodes: </div>
  <div><%= anime.episodes %></div>
  <div>Start Date: </div>
  <div><%= anime.start_date %></div>
  <div>End Date: </div>
  <div><%= anime.end_date %></div>
</div>

<!-- ACTION TAG FOR DELETE SEEMS OFF -->
    <table>
      <thead>
        <tr>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% reviewList.forEach(function(r) { %>
          <tr>
            <td><%= r.review %></td>
            <td><%= r.rating %></td>
            <td><%= r._id %></td>
            <td><form method ="POST" action="/details/<%= r._id %>?_method=DELETE">
              <input type="hidden" name='base64' value="<%= base64 %>"/>
              <button type="submit">Delete</button></form></td>
          </tr>
          <% }); %>
      </tbody>
    </table>
   

<!-- LEAVE A REVIEW -->
<!-- FIGURE OUT WHAT HAPPENS WHEN THE SUBMIT BUTTON IS PRESSED, FIGURE OUT ORDER -->
<br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/details/<%= base64 %>"> 
  <label>Review:</label>
  <textarea name="review"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <textarea hidden name="mal_id" ><%= anime.mal_id %></textarea>
  <input type="submit" value="Add Review">
</form>
      <!-- EDIT REVIEW -->
  <form method="POST" action="/details/<%= base64 %> ?_method=PATCH">

      <!-- INPUT SHIT HERE -->
    <input type="submit" value="Edit Review">
  </form>
  ]



