

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel='stylesheet' type="text/css" href='/stylesheets/styles.css' />
    <%- include('./partials/header.ejs') %>
</head>

<div style="background-color: mintcream;">

<section id="show-page">
  <div class="container-fluid">
  <div class="lead">Title: </div>
  <div class="w-25 p-3" style="background-color: #eee;"><%= anime.title %></div>
  <div class="lead">Preview: </div>
  <div id="animeImage"><img src=<%= anime.image_url %> class="rounded float-left"></div>
  <div class="lead" style="padding-left: 12em">Episodes: </div>
  <div class="w-25 p-3" style="background-color: #eee; padding: 20px;"><%= anime.episodes %></div>
  <div class="lead" style="padding-left: 12em">Start Date: </div>
  <div class="w-25 p-3" style="background-color: #eee;"><%= anime.start_date %></div>
  <div class="lead" style="padding-left: 12em">End Date: </div>
  <div class="w-25 p-3" style="background-color: #eee;"><%= anime.end_date %></div>

</div>
<br>
<br>
<br>

    <table>
      <thead>
        <tr>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% reviewList.forEach(function(r) { %>
         
          <tr>
            <td class="text-justify"><%= r.review %></td>
            <td style="text-align:center"><%= r.rating %></td>
            <td><form method ="POST" action="/details/<%= r._id %>?_method=DELETE">
              <input type="hidden" name='base64' value="<%= base64 %>"/>
              <button type="submit" class="btn btn-primary">Delete</button></form></td>
          <td> <form method="POST" action="/details/<%= r._id %>?_method=PUT">

            <label>Review:</label>
          <input name="review" type="text">
          <label>Rating:</label>
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <input type="hidden" name='base64' value="<%= base64 %>"/>
            <input type="submit" class="btn btn-primary" value="Edit Review"></button>
          </form>
        </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
   

<!-- LEAVE A REVIEW -->
<!-- FIGURE OUT WHAT HAPPENS WHEN THE SUBMIT BUTTON IS PRESSED, FIGURE OUT ORDER -->
<br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/details/<%= base64 %>"> 
  <label>Review:</label>
  <textarea name="review"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <textarea hidden name="mal_id" ><%= anime.mal_id %></textarea>
  <input type="submit" value="Add Review">
</form>

</div>
      <!-- EDIT REVIEW
  <form method="POST" action="/details/< base64 %> ?_method=PATCH">

    <label>Review:</label>
  <input name="review" type="text">
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

    <input type="submit" value="Edit Review">
  </form>
   -->



